<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="gender" value="all" (ionChange)="filter($event)">
      <ion-segment-button value="all">
        <ion-label>Tous</ion-label>
      </ion-segment-button>
      <ion-segment-button value="male">
        <ion-label>Homme</ion-label>
      </ion-segment-button>
      <ion-segment-button value="female">
        <ion-label>Femme</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Liste</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item routerLink="/detail" [state]="item" *ngFor="let item of items">
      <ion-avatar slot="start">
        <img [src]="item.picture.medium">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.name.first }} {{ item.name.last }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Chargement...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
